*{
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);

}
.container{
    width: 400px;
    padding: 30px;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
}
.container input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(66, 5, 66);
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
}

.container textarea{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(66, 5, 66);
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
    font-family: poppins, sans-serif;
    resize: vertical;
    min-height: 120px;
}
.btn{
    border: none !important;
    cursor: pointer;
    background-color: rgba(113, 107, 107, 0.803);
    margin: 15px 0;
    font-size: 16px;
    width: 100%;
    padding: 14px;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.13);
    color: rgb(248, 3, 3);
    transform: translateY(-2px);
    transition: all 0.3s ease;
} 